@font-face {
    font-family: "garamond";
    src: url("../assets/EBGaramond-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --body-bg-color-1: #6e2d48;
    --body-bg-color-2: #984a2d;
    --body-bg-color-3: #b04b37;
    --tile-color: rgba(0, 0, 0, 0.4);
    --tile-font-color: rgb(148, 132, 132);
}

html {
  scroll-behavior: smooth;
}

body {
    background: #000000;
    width: 100%;
    height: auto;
}

.body2 {
    background: #963707;
    width: 100%;
    height: auto;
}

h1 {
    justify-content: center;
    align-items: center;
    color: white;
}

.titre {
    font-size: 200px;
    font-family: "garamond", sans-serif;
}

.titre2 {
    font-size: 120px;
    color: white;
    font-family: "garamond", sans-serif;
}

.contenu {
    font-size: xx-large;
    color: white;
    font-family: "garamond", sans-serif;
    text-align: justify;
    margin: 20px;
}

.bg-video {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: blur(120px);
    opacity: 1;
}

img {
  width: 30vw;
}

.big-container {
    font-size: large;
    color: rgba(154, 14, 14, 0);
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    z-index: 2;
    background: rgba(1.0, 1.0, 1.0, 0.0);
}

.tile {
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    background: var(--tile-color);
    box-shadow: 5px 5px 8px var(--tile-color);
    color: var(--tile-font-color);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    color: white;
    
}

.tile:hover {
    transform: scale(1.1);
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.8);
}

.nav{
  position:sticky;
  top:0;
  height: 10vh;
  backdrop-filter: blur(8px);
  padding:.6rem 0;
  z-index:20
}
.nav-inner{
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:1rem;
}
.logo{
  font-weight:800;
  color:transparent;
  background:linear-gradient(90deg,#b60bbf,#ee740a);
  -webkit-background-clip:text;
  text-decoration:none;
}

.links{
  display:flex;
  gap:1rem;
  align-items:center;
}
.links a{
  color:#ffffff;
  text-decoration:none;
  padding:.4rem .6rem;
  border-radius:10px;
}
.links a:hover, .links a:focus{
  color: #ff0000;
  background:hsla(var(--accent) / 0.12);
}

.nav-toggle{
  display:none;
}


.contact-container {
    max-width: 900px;
    margin: 50px auto;
    background: rgba(191, 43, 43, 0.1);
    padding: 40px;
    border-radius: 10px;
    color: white;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    background: rgba(217, 120, 24, 0.3);
    color: white;
    border: 1px solid #ccc;
}

button {
    background: rgba(217, 120, 24, 0.3);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: rgba(159, 88, 17, 0.3);
;
}

.infos {
    margin-top: 40px;
    text-align: center;
}

/*___________________________________________________________*/

@media (max-width: 768px) {
  body {
        background: #000000;
        width: 100%;
        height: auto;
    }

    .body2 {
        background: #963707;
        width: 100%;
        height: auto;
    }

    h1 {
        justify-content: center;
        align-items: center;
    }

    .titre {
        font-size: 50px;
        font-family: "garamond", sans-serif;
    }

    .titre2 {
        font-size: 32px;
        color: white;
        font-family: "garamond", sans-serif;
    }

    .contenu {
        font-size: large;
        color: white;
        font-family: "garamond", sans-serif;
        text-align: justify;
        margin: 20px;
    }

    .bg-video {
        position: fixed;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        filter: blur(120px);
        opacity: 1;
    }

    img {
        width: 90vw;
    }

    .big-container {
        font-size: large;
        color: rgba(154, 14, 14, 0);
    }

    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        z-index: 2;
        background: rgba(1.0, 1.0, 1.0, 0.0);
    }

    .tile {
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        background: var(--tile-color);
        box-shadow: 5px 5px 8px var(--tile-color);
        color: var(--tile-font-color);
        z-index: 4;
    }

    .nav{
    position:sticky;
    top:0;
    height: 10vh;
    backdrop-filter: blur(8px);
    padding:.6rem 0;
    z-index:20
    }
    .nav-inner{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:1rem;
    }
    .logo{
    font-weight:800;
    color:transparent;
    background:linear-gradient(90deg,#b60bbf,#ee740a);
    -webkit-background-clip:text;
    text-decoration:none;
    }

    .links{
    display:flex;
    gap:1rem;
    align-items:center;
    }
    .links a{
    color:#ffffff;
    text-decoration:none;
    padding:.4rem .6rem;
    border-radius:10px;
    }
    .links a:hover, .links a:focus{
    color: #ff0000;
    background:hsla(var(--accent) / 0.12);
    }

    .nav-toggle{
    display:none;
    }


    .contact-container {
        max-width: 200px;
        margin: 25px auto;
        background: rgba(191, 43, 43, 0.1);
        padding: 40px;
        border-radius: 10px;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 20px;
    }

    input, textarea {
        width: 100%;
        padding: 12px;
        border-radius: 8px;
        background: rgba(217, 120, 24, 0.3);
        color: white;
        border: 1px solid #ccc;
    }

    button {
        background: rgba(217, 120, 24, 0.3);
        color: white;
        padding: 12px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }

    button:hover {
        background: rgba(159, 88, 17, 0.3);
    ;
    }

    .infos {
        margin-top: 40px;
        text-align: center;
    }
}